* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

html p {
    font-size: 18px;
}

body {
    max-width: 1907px;
}

.paddingtop-bot {
    padding: 60px 0 100px;
}

.text-white {
    color: #fff;
}

.font-size {
    font-size: 34px;
}

/* *************************************main */
#main {}



#header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */
}

#header .logo {
    /* display: inline-block;
    line-height: 80px;
    position: absolute;
    top: 50%;
    transform: rotateY(-50%); */
    padding-left: 30px;

}

.menu-header {
    float: right;
    list-style-type: none;
    display: block;
}

.menu-header>li {
    display: inline-block;
    padding: 0 20px;
    height: 80px;
    /* padding-top:  */

}

.sub-menu-header {
    margin-left: -20px;
}

.menu-header>li:hover,
.sub-menu-header>li:hover {
    background-color: #ccc;
}

.sub-menu-header li:hover a {
    color: #000;

}

.menu-header li {
    list-style-type: none;
    position: relative;

}

.menu-header a {
    text-decoration: none;
    display: block;
}

.menu-header>li>a {
    font-size: 15px;
    text-transform: uppercase;
    color: #333;
    text-align: center;
    line-height: 80px;
}

.menu-header li:hover .sub-menu-header {
    display: block;
    z-index: 1;
}

.menu-header .sub-menu-header {
    position: absolute;
    display: none;
    /* display: block; */
    min-width: 250px;
    background-color: #000;
    opacity: 0.9;
}

.menu-header .sub-menu-header li {
    display: block;
}

.menu-header .sub-menu-header a {
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    display: block;
}

/* slider */

#slider {
    position: relative;

}

.slider-img {
    display: block;
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

#slider .btn {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

#slider .xemct {
    display: inline-block;
    background-color: #fff;
    padding: 10px 20px;
    min-width: 150px;
    border-radius: 20px;
    margin: 0 5px;
    text-align: center;
    box-shadow: 0 2px rgba(0, 0, 0, 0.5);

}

#slider a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

#slider .list {
    position: relative;
}

#slider .list-lh {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

#slider .list-lh .item {
    display: inline-block;
    padding: 20px 10px;
    background-color: #fff;
    width: calc(100%);
    text-transform: uppercase;
    min-width: 300px;
    text-align: center;
}

.list-lh div[class*="ti-"] {
    margin: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.ti-light-bulb {
    margin-right: 15px;
}

#content .container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
}

#content .center770px {
    width: 770px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.center1170px {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#content .sub-container-list {
    text-align: center;
    /* margin-left: auto; */
}

#content .sub-container-list p {
    margin-top: 20px;
    line-height: 24px;
}

#content .list {
    width: 50%;
    float: left;

}

#content .list-th li {
    list-style-type: none;
    padding-bottom: 15px;

}

#content .list-th .ti-check-box {
    padding-right: 10px;
    padding-bottom: 24px;
    color: red;
}

#content .list {
    padding: 0 22px;
}

#content .list-th {
    margin: 0 -22px;
    padding-bottom: 20px;
    overflow: hidden;

}

.btn-gt {
    display: block;
    text-align: center;
}



.btn-gt:hover a {
    background-color: #000;
    color: #fff;
}

.btn-gt a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    text-transform: uppercase;
    line-height: 40px;
    padding: 0 40px;
    border-radius: 20px;
    font-weight: 700;
}

.spHome .btn-gt a {
    background-color: #fff;
    border: none;
}

.spHome .btn-gt {
    padding-top: 350px;
}

.spHome .btn-gt:hover a {
    background-color: #000;
    color: #fff;
}

.spHome {
    background-color: #3f3f3f;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 50px;
}

.sup-spHome {
    margin-bottom: 50px;
}

.sup-spHome .title {
    margin-bottom: 30px;
}

.sanPhamDichVu .title-sp {
    font-size: 34px;
    text-transform: uppercase;
    text-align: center;
}

.sanPhamDichVu .title-sp a {
    text-decoration: none;
}

.sup-spHome .decs {
    font-size: 18px;
    text-align: center;
    margin: 0 60px;
    padding-top: 20px;
    line-height: 24px;
}

/* .spHome .list-sp {
    padding-bottom: 20px;
} */

.list-sp li {
    width: 25%-14px;
    float: left;
    list-style-type: none;
    padding-left: 14px;
    margin: 0 5px;
}


.list-sp .img-sp {
    width: 264px;
    height: 264px;
    object-fit: cover;
    border-radius: 50%;
}

.list-sp li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
}

.center {
    text-align: center;
}

.vsChon {
    background-color: #1c1c1c;
    padding: 60px 0;
    color: #fff;
}

.desc.center {
    padding: 20px 60px 0 60px;
    line-height: 24px;
}

.list-chon .item-chon {
    background-color: #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: scale-down;
}

.vsChon .list-chon {
    overflow: hidden;
}

.vsChon .list-chon li {
    float: right;
    width: 20%;
    list-style-type: none;
    padding: 50px 15px 0 15px;
    text-align: center;
}

.vsChon .list-chon p {
    padding-top: 40px;
    line-height: 24px;
}

.tinHome {
    background-color: #2f2f2f;
}

.tinHome .bao-tt {
    padding-bottom: 50px;
}

.tinHome .list-tinTuc {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.tinHome .list-tinTuc li {
    display: block;
    float: right;
    width: 30%;
    height: 290px;
    list-style-type: none;
    text-align: center;
    position: relative;
    background-color: #fff;
    margin: 0 10px;
}

.tinHome li img {
    display: block;
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 100%;
    height: 208px;

}

.tinHome li p {
    position: absolute;
    top: 208px;
    left: 0;
    text-align: left;
    padding: 10px;
    font-weight: 540;
    font-size: 16px;
    line-height: 22px;
}

.tinHome .btn-gt a {
    background-color: #fff;
}

.tinHome .btn-gt:hover a {
    background-color: #000;
    color: #fff;
}



/**************** footer***************** */

#footer {
    background-color: #202020;
    padding-top: 60px;
    overflow: hidden;
}

#footer .container>div {
    float: left;
}

#footer .container {
    overflow: hidden;
}


#footer .contact-hp {
    display: inline-block;
    width: 50%;
}

#footer .title {
    margin-bottom: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

#footer .contact-hp div:not(:first-child) {
    padding-bottom: 8px;
    line-height: 22px;
}

#footer .contact-hp span {
    padding-right: 10px;
}

#footer .menu-ft {
    width: 25%;
    text-decoration: none;
    line-height: 22px;
    padding-left: 30px;
}

#footer .menu-ft a {
    display: block;
    padding-bottom: 8px;
    line-height: 22px;
    text-decoration: none;
    color: #fff;
}

#footer .bot-ft {
    clear: both;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #333;
}