/* reset  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font trang web */
html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {}

.text-white {
    color: #fff !important;
}


#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* z-index: set ưu tiên nổi cho thẻ */
}

#nav {
    display: inline-block;

}

#nav li {
    list-style-type: none;
    position: relative;

}

#nav>li {
    display: inline-block;

}

#nav>li:hover>a,
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}


#nav li a {
    text-decoration: none;
}

#nav>li>a {
    color: #fff;
    line-height: 46px;
    padding: 0 20px;
    text-transform: uppercase;
    display: block;

}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    position: absolute;
    display: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* box-shadow: Đổ bóng cho chủ thể */
}

#nav .subnav li a {
    color: #000;
    display: block;
    padding: 12px 8px;
    min-width: 150px;
}

#nav .nav-arrow-down {
    font-size: 70%;
}

#header .search-btn {
    color: #fff;
    float: right;
    padding: 0 25px;
}

#header .search-btn:hover {
    background-color: red;

}

#header .search-btn .search-icon {
    line-height: 46px;
}



#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/w3_band/assets/img/slider/chicago.jpg) no-repeat top center / cover
}

#slider .text-content {
    position: absolute;
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
    bottom: 0;
    width: 100%;
}

#slider .content-header {
    padding-bottom: 40px;
    font-weight: 800;
}

#content {}

#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
    overflow: hidden;
}

#content .section-heading {
    text-align: center;
    margin: 10px 0;
    /* xác định khoảng cách giữa các ký tự trong 1 từ của ddoanj văn bản */
    letter-spacing: 7px;
    font-weight: 500;
}

#content .section-sub-heading {
    text-align: center;
    opacity: 0.6;
    font-style: italic;
    font-size: 15px;
}

#content .about-text {
    text-align: justify;
    margin: 15px 0;
    font-size: 15px;
}

/* ********************** */

#content .member-item {
    float: left;
    text-align: center;
    padding: 32px 0;
    width: 33.3333%
}

#content .member-name {
    font-size: 15px;
    text-align: center;
}

#content .member-ava {
    width: 154px;
    margin: 15px 0;
    border-radius: 5px;
}

#content .clear {
    overflow: hidden;
}


#content .Tour-section {
    background-color: #000;
    /* margin-bottom: 38px; */
}



#content .Tour-section li {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 8px 16px;
}

#content .Tour-section .status {
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 4px 8px;
}

#content .Tour-section .number-circle {
    float: right;
    /* margin: 0 16px 0 0;
    padding: 0 8px; */
    height: 24px;
    width: 24px;
    color: #fff;
    background-color: #000;
    /* căn giữa dòng */
    text-align: center;
    border-radius: 50%;
    /* chiều cao dòng */
    line-height: 24px;
}

#content .month-list {
    margin-top: 40px;
    /* sử dụng để xác định kiểu của các đánh dấu đầu dòng của thẻ li, none là loại bỏ */
    list-style: none;
}

/* Tour */


.tour-list {
    margin: 36px -8px 48px -8px;
    /* float sẽ làm thay đổi độ bao bọc của thẻ cha nên t sử sụng overflow: hidden để loại bỏ cái đó */
    overflow: hidden;
}

.tour-item {
    float: left;
    width: 33.3333%;
    padding: 0 8px;
}

.tour-img {
    width: 100%;
    display: block;
}

.tour-img:hover {
    opacity: 0.6;
}


.tour-name {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.tour-address {
    font-size: 15px;
    /* độ dày của chữ */
    font-weight: 600;
    margin: 15px 0;
}

.tour-date {
    margin: 15px 0;
    color: #757575;
}

.tour-discription {
    margin: 15px 0;
    /* line-height chiều cao cho dòng chữ */
    line-height: 1.6;
}

.buy-tickets {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
    text-align: center;
}

.buy-tickets:hover {
    background-color: #ccc;
    color: #000;
}

#content .member-item {}

.me #content #footer {}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    /* nó trở thành một container linh hoạt và các phần tử con bên trong nó sẽ tuân theo các quy tắc linh hoạt của flexbox. */
    display: flex;
    /* các thuộc tính đi theo: */
    /*flex-direction: row; Sắp xếp các phần tử con theo hàng (mặc định) */
    justify-content: center;
    /* Căn chỉnh các phần tử con vào giữa theo chiều chính (theo hàng) */
    align-items: center;
    /* Căn chỉnh các phần tử con vào giữa theo chiều phụ (theo cột) */
    /*flex-wrap: wrap;  Cho phép các phần tử con xuống dòng khi không đủ không gian */
    /* position: relative; */
}

.modal-container {
    background-color: #fff;
    width: 900px;
    /* cho chiều ngang tối đa bằng 100% - 16px để trong trường hợp màn hình co nhỏ
    hơn 900 thì width sẽ bằng 100% - 16px để tránh bảng đính vào mép trình duyệt */
    max-width: calc(100% - 16px);
    min-height: 200px;
    position: relative;
}

.modal-header {
    height: 129px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    letter-spacing: 5px;
    color: #fff;
}

.modal-bag-icon {
    padding-right: 15px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    color: #fff;
    cursor: pointer;
}

.modal-close:hover {
    opacity: 0.8;
    background-color: #ccc;
    color: #000;
}



.modal-body {
    padding: 15px;
}

.modal-label {
    display: block;
    padding: 12px 0;
    font-size: 15px;
    margin-top: 15px;
}

.madal-input {
    display: block;
    font-size: 15px;
    width: 100%;
    padding: 10px;
}

#modal-buy-tickets {
    display: block;
    width: 100%;
    background-color: #009688;
    border: none;
    padding: 16px;
    margin: 16px 0;
    color: #fff;
    font-size: 15px;
    /* làm đậm chữ */
    text-transform: uppercase;
}

#modal-buy-tickets:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.modal-footer {
    text-align: right;
    line-height: 1.4;
    padding: 15px;
}

.modal-footer a {
    color: #2196F3;
}